* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root.dark {
    --first-color: #111827;
    --second-color: #A1A1AA;
    --third-color: #374151;
    --fourth-color: red;
    --sidebar-color: white;
    --font-color: #fed7aa;
    --title-color: white;
    --font-color: #ebcbcb;
}

:root.light {
    --first-color: #0284C7;
    --second-color: #E2E8F0;
    --third-color: white;
    --fourth-color: orange;
    --sidebar-color: white;
    --title-color: black;
    --font-color: #636363;
}

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
}

.username {
    color: var(--title-color);
    font-weight: bold;
}

/* Sidebar */
.sidebar {
    background-color: var(--first-color);
    color: var(--sidebar-color);
    grid-row: span 2;
    min-height: 100vh;
    /* this z-index will hide blur effect from others elements */
    z-index: 2;
}

.nav-content {
    position: sticky;
    top: 0;
    display: grid;
    grid-auto-rows: max-content;
    gap: 2rem;
    padding: 1rem 3rem 1rem 1rem;
}

.sidebar a {
    color: inherit;
}

.sidebar section {
    display: grid;
    gap: 0.5rem;
}

.sidebar section a {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.sidebar .title {
    margin-left: -0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 3rem;
}

.sidebar .title > svg {
    width: 3rem;
    height: 3rem;
}

/* Top Header */
.user-menu {
    background-color: var(--third-color);
    color: var(--title-color);
    box-shadow: 2px 2px 8px #636363;
    /* this z-index is to fix box-shadow display */
    z-index: 1;
    padding: 1rem 2rem;
    display: grid;
    gap: 2rem;
    grid-column: 2;
    grid-template-areas: 
        "search search profile"
        " user   user  buttons";
    position: sticky;
    top: 0;
}

.user-menu svg {
    cursor: pointer;
}

.search-bar {
    grid-area: search;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

.search-bar > input {
    background-color: var(--second-color);
    border-radius: 1rem;
    border: none;
    padding: 0.3rem 1rem;
}

.user-profile {
    grid-area: profile;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
}

.user-welcome {
    grid-area: user;
    display: flex;
    align-items: center;
}

.user-welcome > img {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-profile > img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.buttons-menu {
    grid-area: buttons;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-menu > button {
    background-color: var(--first-color);
    color: var(--sidebar-color);
    font-weight: bold;
    border-radius: 1rem;
    border: none;
    height: min-content;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

/* Content Section */
.content {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-areas: 
        "content informations"
        "content       .     ";
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--second-color);
}

/* Project's Section */
.projects {
    grid-area: content;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 170px;
    gap: 1rem;
}

.container {
    position: relative;
    background-color: var(--third-color);
    color: var(--font-color);
    box-shadow: 2px 2px 8px #636363;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 0.5rem;
    padding: 1rem;
    border-left: 0.5rem solid var(--fourth-color);
    
}

.container > a {
    margin-top: 1rem;
}

.container > a > h3 {
    color: var(--title-color);
}

.container > .options {
    color: var(--title-color);
    display: flex;
    justify-content: end;
    align-items: center;
    grid-row: 2;
    grid-column: 2;
    margin-top: 1rem;
}

.options > a {
    margin-left: 1rem;
}

main h2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.container > a {
    grid-column: span 2;
}

/* Announcements and Trending section */
.informations {
    grid-area: informations;
}

.announcements-content, .trending-content {
    box-shadow: 2px 2px 8px #636363;
    display: grid;
    grid-auto-rows: 1fr;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--third-color);
}

.announcements-content > div, .trending-content > div {
    cursor: pointer;
    padding: 1rem 0.5rem;
}

.announcements-content > div > h2 {
    color: var(--title-color);
}

.announcements-content > div > p {
    color: var(--font-color);
    font-size: 0.9rem;
}

.announcements-content div:not(:last-child) {
    border-bottom: 1px solid var(--font-color);
}

.trending-content img {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.trending-content > div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    align-items: center;
}

.trend-inf {
    color: var(--font-color);
}

/* COOKIES */
.cookies {
    background-color: var(--first-color);
    box-shadow: 2px 2px 8px var(--first-color);
    color: var(--title-color);
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 1rem 2rem;
}

.cookies > div {
    margin-top: 0.5rem;
    display: flex;
    justify-content: end;

}

.agree, .refuse {
    padding: 0.5rem;
    color: var(--title-color);
    border-radius: 0.5rem;
    border: none;
    margin: 0 1rem;
    cursor: pointer;
}

.agree {
    background-color: #1ac23f;
}

.refuse {
    background-color: #be1313;
}

.hidden {
    display: none;
}

/* Below here are some hover effects */

.agree:hover, .refuse:hover, .buttons-menu > button:hover {
    background-color: goldenrod;
}

.trending-content > div:hover,
.announcements-content > div:hover {
    background-color: goldenrod;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px var(--font-color);
}

.container:hover {
    bottom: 3px;
}